@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%; /* Ensures full height */
  margin: 0;    /* Removes default margin */
  background-color: #ffffff; /* Sets background to white */
  color: #000000; /* Sets default text color to black */
}
